body {
    background-color: blue !important;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
}

ul li {
    width: 90px;
    height: 90px;
    border: 5px solid blue;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li.buzz {
    background-color: yellow;
}

ul li.fizz {
    background-color: red;
}

ul li.fizzbuzz {
    background-color: greenyellow;
}